<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3 class="comfortaa-font">Register</h3>
    <%= form_for @user do |f| %>  
      <div class="form-group">
        <%= f.label :name, 'Name*' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email*' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password*' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm Password*', class: 'col-md-4 control-label' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit 'Create Account', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
