<!-- CAROUSEL -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner carousel-image" >
    <% @sites.sample(3).each_with_index do |s, i| %>
      <div class="carousel-item <%= 'active' if i == 0 %>">
        <img class="d-block w-100" src="<%= s.image %>" alt="Site slider images" style="width: 100% !important; max-height: 750px;" >
        <div class="carousel-caption d-md-block">
          <h5><%= link_to "#{s.name}", site_path(s), class: "btn btn-outline-light btn-lg" %></h5>
          <p><%= s.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- NAV -->
<nav class="sticky-top">
<%= render 'partials/navbar' %>
</nav>
</br>


<div class="container">
  <% for s in @sites %>
    <div class="row">
      <div class="col-md-12">
        <div class="card flex-md-row mb-4 box-shadow h-md-300" >
          <img style="max-width: 550px; max-height: 350px;" src="<%= s.image %>">
          <!-- <img class="card-img-left flex-auto d-lg-block" data-src="holder.js/600x300?theme=thumb" alt="Thumbnail [500x300]" style="max-width: 550px; width: 100%" src= "<%= s.image %>" data-holder-rendered="true"> -->
          <div class="card-body">
            <h3 class="card-title"><%= s.name.truncate(30) %></h3>
            <div class="text-muted"><%= s.location %></div>
            <div><%= link_to "See details", site_path(s) %></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!--  <ul>
 <li><%= link_to "#{s.name}", site_path(s)  %></li> </ul> -->

