<!-- SITE INFO-->

<div class="card" style="max-width: 65rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @site.name %></h5>
    <p class="card-text">Location: <%= @site.location %></p>
    <p class="card-text">Details: <%= @site.description %></p>
    <p class="card-text italic smaller-font">Submitted by: <%= @site.user.name %></h3></p>
    <img class="card-img-bottom" src="<%= @site.image %>" alt="Card image cap">


<!-- @site.reviews because the reviews route is nested in site -->
<!-- display reviews on site show page -->
<% for review in @site.reviews  %>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        <%= review.body %>
        <span class="rating-star"><% review.rating.to_i.times do %>
          <i class="fa fa-star"></i>
        <% end %></span>
      </p>
      <footer class="blockquote-footer">Written by: <cite title="Source Title"><%= review.user.name %></cite>  <%= time_ago_in_words(review.created_at)%> ago</footer>
    </blockquote>
  </div>
  <hr width="85%" style="margin: auto">
<% end %>

<% if logged_in? %>
<!-- REVIEW FORM -->
<div class="card-body">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Leave A Review</h1>
    <!-- call form from site and review since reviews create is nested in sites route -->
    <%= form_for [@site, @review] do |f| %>  
      <div class="form-group">
        <%= f.label :body, 'Write your review*' %>
        <%= f.text_field :body, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :rating, 'Rating*' %>
        <%= f.select :rating, [ 1, 2, 3, 4, 5], class: 'form-control' %>
      </div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
</div>
</div>
<% else %>
  <!-- concatenate log in form and site id from url -->
  <h3>Please <%= link_to "log in", "#{new_session_path}?site_id=#{@site.id}" %> to leave a review</h3>
<% end %>

<div>
<!--PUT & DELETE SITE-->
<% if @site.user == current_user %>
<%= link_to 'Edit', edit_site_path(@site) %>
<%= link_to 'Delete', site_path(@site), method: "delete" %>
<% end %>
</div>

</div>
<br>
<br>