<!DOCTYPE html>
<html>
  <head>
    <title>CampsiteFindr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
  </head>

  <body>

    <nav class="sticky-top">
      <%= render 'partials/navbar' %>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %> 
      <%= yield %>
    </div>

  </body>
      <footer>
      <%= render 'partials/footer' %>
    </footer>

</html>
